In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/real-estate-price-prediction/Real estate.csv

In [2]:
data = pd.read_csv('/kaggle/input/real-estate-price-prediction/Real estate.csv')
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [3]:
data = data.dropna()

In [4]:
column = list(data.columns)
column

column.remove('X1 transaction date')
column.remove('X2 house age')
column.remove('X5 latitude')
column.remove('X6 longitude')

print(column)

['No', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'Y house price of unit area']

In [5]:
X = data[column]
X.head()

,No,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
0,1,84.87882,10,37.9
1,2,306.59470,9,42.2
2,3,561.98450,5,47.3
3,4,561.98450,5,54.8
4,5,390.56840,5,43.1

In [6]:
Y = data['Y house price of unit area']
Y.head()

0    37.9
1    42.2
2    47.3
3    54.8
4    43.1
Name: Y house price of unit area, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics

In [8]:
train_x, test_x, train_y, test_y = train_test_split(X,Y,test_size=0.2,random_state=42)

In [9]:
train_x.head()

,No,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
192,193,57.58945,7,42.7
234,235,2216.61200,4,23.9
5,6,2175.03000,3,32.1
45,46,488.81930,8,38.3
245,246,639.61980,5,40.8

In [10]:
lr = LinearRegression()
lr.fit(train_x, train_y)

LinearRegression()

In [11]:
pred_y = lr.predict(test_x)

In [12]:
print("The first five prediction {}".format(pred_y[:5]))
print("The real first five labels {}".format(test_y[:5]))

The first five prediction [45.1 42.3 52.2 37.3 22.8]
The real first five labels 358    45.1
350    42.3
373    52.2
399    37.3
369    22.8
Name: Y house price of unit area, dtype: float64

In [13]:
mse = metrics.mean_squared_error(test_y, pred_y)
print("Mean Squared Error {}".format(mse))

Mean Squared Error 6.099753847877232e-26

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [15]:
X2 = scaler.fit_transform(X)

In [16]:
train_x2, test_x2, train_y2, test_y2 = train_test_split(X2,Y,test_size=0.2,random_state=42)

In [17]:
lr2 = LinearRegression()
lr2.fit(train_x2, train_y2)
pred_y2 = lr2.predict(test_x2)
mse2 = metrics.mean_squared_error(test_y2, pred_y2)
print("Mean Squared Error {}".format(mse2))

Mean Squared Error 3.7781685185958626e-28